.navbar {
    margin-left: -20px;
    overflow: hidden;
    background-color: gray;
    position: fixed; 
    top: 0; 
    width: 101%; 

}
.navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  .navbar a:hover {
    background: #ddd;
    color: grey;
  }
  .main {
    margin-top: 30px; 
  }  