body{
background-image: url(https://th.bing.com/th/id/OIP.cLoDvCCp86mUQ9X5qQ5HBgHaEK?pid=ImgDet&w=1920&h=1080&rs=1);


}
.div {
margin-top: 100px;
margin-left: 100px;
height: 200px;
border-radius: 10px;
background-color: aliceblue;
width: 250px;


}